<div>
    <h1 id="title">Flowery 4107 Webchat</h1>
    <button class="logout">Logout</button>
</div>
<div>
    <h2>Chat</h2>
    <p>Ingresa tu mensaje:</p>
    <input id="chatbox">
    <p>Mensajes del chat:</p>
    <p id="messageLogs"></p>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/files/js/chat.js"></script>
<script src="/files/js/logout.js"></script>