<div class="container">
    <h1>Registro</h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input name="firstName" type="text">
        <br/>
        <label>Apellido</label>
        <input name="lastName" type="text">
        <br/>
        <label>Email</label>
        <input name="email" type="email">
        <br/>
        <label>Fecha de nacimiento</label>
        <input type="date" name="birthDate">
        <br/>
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <p>¿Ya eres un Flowerier? <a href="/login">Ingresa aquí</a></p>
</div>
<script src="/files/js/register.js"></script>