<div class="container">
    <h1>Restablecer contraseña</h1>
    <form id="resetPasswordForm">
        <label>Email</label>
        <input name="email" type="email" value="{{email}}" readonly>
        <br/>
        <label>Contraseña</label>
        <input type="password" name="newPassword">
        <br/>
        <input type="hidden" name="token" value="{{token}}">
        <input type="submit" value="Enviar">
        <a href="/login">Cancelar</a>
    </form>
</div>
<script src="/files/js/resetPassword.js"></script>

