<div class="container">
    <h1>Restablecer contraseña</h1>
    <form id="resetPasswordForm">
        <label>Email</label>
        <input name="email" type="email">
        <br/>
        <input type="submit" value="Enviar">
        <a href="/login">Cancelar</a>
    </form>
</div>
<script src="/files/js/resetPasswordRequest.js"></script>

